 <div class="container-fluid">
    <div class="row">
        <div class="col-md-7 offset-2">
            <div class="card1">
                <h4 class="border heading text-center">Chose Speciality</h4>
                <div class="row">
                <div class="col-sm-4 card me-1">  <div class="card-body ">
                   



                    <a> <img  src="https://views.medibuddy.in/offlineconsults/general_physician.png" alt=""></a>
                    <div class="overlay">
                </div>
                  </div></div>
                
                  <h4 class="border heading text-center mt-3">Confirm</h4>

                </div> 
            </div>
        </div>
    </div>
 </div>