<div class="container home-container">
    <div class="d-flex justify-content-around .align-items-center">
        <div class="card pill p-2 ">
        <a routerLink="">
            <img src="https://www.medibuddy.in/assets/services/doctor.svg" alt="" height="30" width="100">
            <h6 class="mt-2">Talk to Doctor</h6>
        </a>
        </div>
        <div class="p-2">
            <a routerLink="/medicine-home">
                <img src="https://www.medibuddy.in/assets/services/medicine.svg" alt="" height="30" width="100">
                <h6 class="mt-2">Medicine</h6>
            </a>        </div>
        <div class="p-2">
            <a routerLink="">
                <img src="https://www.medibuddy.in/assets/services/surgery.svg" alt="" height="30" width="100">
                <h6 class="mt-2">Surgery</h6>
            </a>        </div>
        <div class="p-2">
            <a routerLink="">
                <img src="https://www.medibuddy.in/assets/services/mb-gold.svg" alt="" height="30" width="100">
                <h6 class="mt-2">medibuddy</h6>
            </a>        </div>
        <div class="p-2">
            <a routerLink="">
                <img src="https://www.medibuddy.in/assets/services/insurance.svg" alt="" height="30" width="100">
                <h6 class="mt-2">Insurance</h6>
            </a>
        </div>
        <div class="p-2">
            <a routerLink="">
                <img src="https://www.medibuddy.in/assets/services/insurance.svg" alt="" height="30" width="100">
                <h6 class="mt-2">Lab Test & Package</h6>
            </a>
        </div>
         
    </div>

    
</div>
<div class="container mt-4 home-container p-4  rounded-pill border shadow-sm">
<div class="row">
    <div class="col-md-6  text-end">
<h5>Consult with doctor online , 24/7</h5>
    </div>
    <div class="col-md-4">
        <p class=" rounded-pill border text-center text-primary p-2 ms-2">start consultaion
            <i class="bi bi-arrow-right ms-2 mt-2"></i>
        </p>
    </div>
</div>
</div>

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="container mt-5">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://views.medibuddy.in/homePageBanners/womens-md.png" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://views.medibuddy.in/surgeryBanners/surg_carousel_updated.png" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://www.medibuddy.in/assets/gold-home.webp" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
    </div>
</div>



      <div class="row">
        <div class="col-md-8 offset-2">
            <div class="shadow-container mt-3">
                <img src="https://www.medibuddy.in/assets/ABHA.svg"  class="banner-surgery">
               </div>
        </div>
      </div>
      <!-- section cards -->
      <div class="container mt-5">
      <div class="row">
        <div class="col-md-6">
           
            <h6 class="rb-gradient-text mdTxt">
                Give the care your family deserves</h6>
        </div>
        <div class="col md-6 ">
            <div class="row">
                <div class="col align-self-start ">
                    <div class="card1 shadow-lg p-3 mb-5 bg-white rounded" style="width: 18rem;">
                        <div class="card-body">
                            <img src="https://www.medibuddy.in/assets/services/mb-gold/unlimited-consultations.svg" alt="">
                            <p class="card-text rb-gradient-text mdTxt ">Unlimited Free consultaion.</p>
                            <p>Get unlimited free consultations with all doctors 24x7</p>
                        </div>
                      </div>
                      
                </div>
                <div class="col align-self-center">
                    <div class="card1 shadow-lg p-3 mb-5 bg-white rounded second" style="width: 18rem;">
                        <div class="card-body">
                            <img src="https://www.medibuddy.in/assets/services/mb-gold/family.svg" alt="">
                          <p class="card-text rb-gradient-text mdTxt">Free for All Family.</p>
                           <p>Free consultations for upto 6 family members</p>
                        </div>
                      </div>
                      
                </div>
            </div>
        </div>
      </div>
     
    </div>


         