 <div class="container-fluid p-4 bg-primary first ">
<div class="row">
    <h3 class="text-center">Get Huge Saving On Medicines</h3>
    <div class="d-flex justify-content-center">
        <div class="p-2">100 % Genuine Medicines</div>
        <div class="p-2">Trusted Pharmacies</div>
        <div class="p-2">Delivery to your doorstep</div>
        <div class="p-2">Store Pick up</div>
    </div>
</div>
 </div>
 <div class="container w-75">
    <div class="input-group input-group- search-head">
        <div class="input-group-prepend">
          <span class="input-group-text " id="inputGroup-sizing-lg"><span></span>
            Maharashtra</span>
        </div>
        <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
        <span class="input-group-text search" id="inputGroup-sizing-lg"><i class="bi bi-search"></i>Search</span>
      </div>
 </div>
 <div class="container w-75">
    <div class="row">
        <img src="https://www.medibuddy.in/assets/banners/medicine-page.webp" alt="">
    </div>
 </div>
 <app-top-deals></app-top-deals>