.first{
    color: white;
}
.search{

}
.search-head{
position: relative;
    bottom: 30px;
}
.view {
    color: rgb(24,120,242);
    cursor: pointer;
    font-size:20px
}
.top-deals{
    cursor: pointer;
}